{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete client #{{object.name}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete <strong>{{ object }}</strong> ?
            </div>
            <button type="submit" class="btn btn-outline-danger">YES</button>
            <a href="{% url 'clients:createClient' %}" class="btn btn-outline-primary"> NO </a>
        </form>

    </div>
</div>
{% endblock content %}