{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Client Details</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name :</dt>
            <dd class="col-sm-9">{{ client.name }}</dd>
            <dt class="col-sm-3">First Name :</dt>
            <dd class="col-sm-9">{{ client.firstName }}</dd>

        </dl>

    </div>
    <div>
        <a href="{% url 'clients:updateClient' client.pk %}" class="btn btn-primary"> Edit </a>

    </div>
</div>

{% endblock content%}