{% extends "base.html" %}

{% block content %}
WELCOME TO CLIENTS Space

<div class="card">
    <div class="card-header">
        <h5 class="card-title">New Client</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Create</button>
        </form>
        <div>
            {% for client in clients %}

            <ul class="list-group">

                <li class="list-group-item">Client Name : {{ client.name }}<br>
                    Client first name : {{ client.firstName }} <br>
                    Client's company : {{ client.companyName }}</li>

            </ul>
            {% endfor %}

        </div>





    </div>
</div>
</div>


{% endblock content %}