{% extends "base.html" %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">New Product</h5>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">

        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i>Invoice</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Type : </label>
                            {{ form.articleType }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Name : </label>
                            {{ form.name }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Mesure Unit : </label>
                            {{ form.unit }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">No Tax Value : </label>
                            {{ form.priceNtax }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Tax Value : </label>
                            {{ form.tax }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Bought Price : </label>
                            {{ form.buyPrice }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="projectinput1">Sell Price : </label>
                            {{ form.sellPrice }}
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-min-width mr-1 mb-1" type="submit">SUBMIT</button>


            </div>
        </form>
    </div>
</div>
{% endblock content %}