{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Prod/Serv Details</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name :</dt>
            <dd class="col-sm-9">{{ prod.name }}</dd>
            <dt class="col-sm-3">Price :</dt>
            <dd class="col-sm-9">{{ prod.sellPrice }} MAD</dd>

        </dl>

    </div>
    <div>
        <a href="" class="btn btn-primary"> Update </a>
        <a href="" class="btn btn-danger"> Delete </a>
    </div>
</div>

{% endblock content%}