{% extends 'base.html' %}
{% block content %}
{{ form.media }}

<script>
    new FroalaEditor('.selector', {
enter: FroalaEditor.ENTER_BR
});
 </script>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="basic-layout-form-center">Create a New text Reminder</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                 
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">

                <div class="card-text">
                    <p>
                        Only 4 texts are allowed to be created, based on the levels numbers.
                    </p>
                </div>

                <form class="form" method="POST"  data-action="{% url 'reminders:createReminders' %}">
                    {% csrf_token %}
                        <div class="form-body">
                            <div class="form-group">
                                {{ form }}

                            </div>
                        </div>
                    <div class="form-actions text-center">
                        <button type="button" class="btn btn-warning mr-1">
                            <i class="ft-y"></i> Back to reminders
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="la la-check-square-o"></i> Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}
    